<div class="container">
  <h1>Add Movies to the list</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%#= f.error_notification %>
    <%#= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>
</div>
